.shopping {
  position: fixed;
  right: 10px;
  bottom: 50px;
  list-style: none;
  z-index: 2;
  padding: 0;
  margin: 0;

  li + li {
    margin-top: 15px;
  }

  a {
    display: block;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: rgba(144, 109, 106, .8);
    color: #fff;
    position: relative;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: all .35s ease;

    &:hover{
      background-color: rgba(144, 109, 106, .95);
      box-shadow: 0 3px 10px rgba(0, 0, 0, .15);
      transition: all .25s ease;
    }
  }

  span {
    position: absolute;
    color: #fff;
    font-size: .875rem;
    background-color: #dc3545;
    right: 0;
    top: -5px;
    line-height: 1.5rem;
    min-width: 1.5rem;
    padding: 0 4px;
    border-radius: .725rem;
  }
}

@media (min-width: 480px) {
  .shopping {
    right: 20px;
  }
}